# Data loading module parameters
data_type: 'image'
data_to_fit: '../images-fit'
data_to_score: '../images-score'
zscore_normalization: False
out_dir: 'results'

# Feature extraction module
features: {
    flattened_pixel_values: {
        # optional parameter; if defined, the width of the image will be
        # resized to the value of `width`
        width: 64,
        # optional parameter; if defined, the height of the image will be
        # resized to the value of `height`
        height: 64
    }
}

# Outlier detection module
outlier_detection: {
    demud: {
        k: 5
    },
    iforest: { },
    negative_sampling: {
        percent_increase: 20
    },
    pca: {
        k: 5
    },
    # RX does not work well for raw features
    # because dimensionality > n_samples
    #    rx: { }
}

# Results organization module
results: {
    save_scores: { }
}
