# Data loading module parameters
data_loader: {
    name: 'Time series',
    params: {}
}
data_to_fit: 'sample_data/earth_fieldsamples/kenya_points_to_predict.csv'
data_to_score: 'sample_data/earth_fieldsamples/kenya_points_to_predict.csv'
zscore_normalization: False
out_dir: 'sample_data/earth_fieldsamples/exp/results'

# Feature extraction module
features: {
    raw_values: { }
}

# Outlier detection module
top_n: None
outlier_detection: {
    demud: {
        k: 3
    },
    iforest: {
        n_trees: 100
    },
    negative_sampling: {
        percent_increase: 20
    },
    pca: {
        k: 3
    },
    rx: { },
    random: { }
}

# Results organization module
results: {
    save_scores: { }
}
