# Data loading module parameters
data_loader: {
    name: 'image',
    params: {}
}
data_to_fit: 'sample_data/planetary_rover/png/images-fit'
data_to_score: 'sample_data/planetary_rover/png/images-score'
zscore_normalization: False
out_dir: 'sample_data/planetary_rover/png/exp/results'

# Feature extraction module
features: {
    flattened_pixel_values: {
        # optional parameter; if defined, the width of the image will be
        # resized to the value of `width`
        width: 10,
        # optional parameter; if defined, the height of the image will be
        # resized to the value of `height`
        height: 10
    }
}

# Outlier detection module
top_n: None
outlier_detection: {
    demud: {
        k: 5
    },
    iforest: {
        n_trees: 100,
        fit_single_trees: False
    },
    negative_sampling: {
        percent_increase: 20
    },
    pca: {
        k: 5
    },
    # RX does not work well for raw features
    # because dimensionality > n_samples
    #    rx: { }
    lrx: {
        inner_window: 3,
        outer_window: 9,
        bands: 1
    },
    random: { }
}

# Results organization module
results: {
    save_scores: { }
}
