# This experiment is a large-scale application of DORA methods
# to images from the MSL Navcam instrument.  It is designed
# to run on the JPL MLIA machines where this data is mounted.
# Author: Kiri Wagstaff

# Data loading module parameters
data_loader: {
    name: 'Time series',
    params: {}
}
data_to_fit: 'exp/planetary_rover/cif/1343_1693_training_nonames.csv'
data_to_score: 'exp/planetary_rover/cif/1694_1703_testing_no1700_nonames.csv'
zscore_normalization: False
out_dir: '/tmp/planetary-last10sols-aegisfeat'

# Feature extraction module
features: {
    raw_values: { }
}

# Outlier detection module
top_n: None
#top_n: 9 # there are only 9 to find
outlier_detection: {
    demud: {
        k: 3
    },
    #iforest: {
    #    n_trees: 100
    #},
    #negative_sampling: {
    #    percent_increase: 20
    #},
    pca: {
        k: 3
    },
    #rx: { },
    # LRX doesn't make sense here; not an image type
    #lrx: {
    #    inner_window: 1,
    #    outer_window: 5,
    #    bands: 1
    #},
    pae: {
        latent_dim: 5,
        use_flow: False
    },
    #random: { }
}

# Results organization module
results: {
    save_scores: { },
    comparison_plot: {
       'validation_dir': 'exp/planetary_rover/novel_labels.csv'
    },
}
