# This experiment is a large-scale application of DORA methods
# to images from the MSL Navcam instrument.  It is designed
# to run on the JPL MLIA machines where this data is mounted.
# Author: Kiri Wagstaff

# Data loading module parameters
data_loader: {
    name: 'image',
    params: {}
}
data_to_fit: '/proj/dora/data/planetary/fit-1343-1693/'
data_to_score: '/proj/dora/data/planetary/score-1694-1703/'
zscore_normalization: False
out_dir: '/tmp/planetary-last10sols'

# Feature extraction module
features: {
    flattened_pixel_values: {
        # optional parameter; if defined, the width of the image will be
        # resized to the value of `width`
        width: 64,
        # optional parameter; if defined, the height of the image will be
        # resized to the value of `height`
        height: 64
    }
}

# Outlier detection module
top_n: 10
outlier_detection: {
    demud: {
        k: 5
    },
    iforest: {
        n_trees: 100
    },
    negative_sampling: {
        percent_increase: 20
    },
    pca: {
        k: 5
    },
    # RX does not work well for raw features
    # because dimensionality > n_samples
    #    rx: { }
    #lrx: {
    #    inner_window: 3,
    #    outer_window: 9,
    #    bands: 1
    #},
    #random: { }
}

# Results organization module
results: {
    save_scores: { },
    comparison_plot: {
       'validation_dir': 'exp/planetary_rover/novel_labels.csv'
    },
}
