.rankCell {
  width: 5em;
}

.rankHeader {
  width: 5em;
}

.idCell {
  width: 5em;
}

.idHeader {
  width: 5em;
}

.imageCell img {
  width: 100px;
}

.imageHeader {
  width: 617px;
  word-wrap: break-word;
}

.featureCell {
  overflow: auto;
  width: 500px
}

.featureHeader {
  width: 500px;
  word-wrap: break-word;
}

.scoreCell {
  width: 15em;
  text-align: right;
  font-family: monospace;
}

.scoreHeader {
  width: 15em;
  text-align: right;
}

.imageLink {
  cursor: pointer;
}

.methodSelect {
  font-size: 2em;
}